.navbar {
    background-color: #1b2f3a;
}
.navbar li {
    list-style: none;
}
.card {
    height: 100%;
}



body {
    background-color: #579394;
}

header {
    height: 300px;
    background-image: url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    background-color: rgb(255 255 255 / .7);
    
}

.grossman {
    width: 70%;
    border-radius: 20px;
    border: 3px dotted #579394;
    margin: 1rem auto;

}

.grossman img {
    width: 170px;
    margin-left: 1rem;
    margin-bottom: 1rem;
    float: right;
}

th, td {
    margin: auto;
    padding: 0.5rem;
    border: 1px solid #579394; 
}

.nev {
    font-variant: small-caps;
}

ul li {
    line-height: 2.5rem;
    list-style: square;
}

h1, h2 {
    color: #579394;
}

h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-top:2rem;
}

a {
    color: #579394;

}

a:hover {
    color: red;
}

h2 {
    border-bottom: 1px dotted;
}

table {
    margin: auto;
}
